{% extends "ws_base.html" %} {% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <h1>About weather shopper app</h1>
            <p class="text-justify top-space-40">
                The web application is created by <a href="https://qxf2.com/">Qxf2 Services</a> to help testers learn Selenium and practice a programming language simultaneously. It provides various features that users can explore to enhance their automation and coding skills.
            </p>
            <p class="text-justify top-space-20">
                We have worked with, interviewed, and hired many QA engineers, and we've observed that software testers often learn automation in unconventional ways. For instance, we noticed that many QA engineers are comfortable writing simple Selenium scripts but not as confident with programming—perhaps because Selenium's visual nature made it easier to grasp. Most people do not want to go back and take a programming course. Instead, they gradually improve their coding skills as they encounter new challenges and use the language more frequently. With this in mind, we designed a Selenium-based exercise that naturally encourages testers to write better code. We hope this helps!
            </p>           

            <p class="text-justify top-space-20">
                Qxf2 offers specialized QA services tailored to startups, including an <a href="https://qxf2.com/essential-service-offering">Essential QA Service</a> for lightweight testing without the need for a full-time resource, a <a href="https://qxf2.com/foundational-service-offering">Foundational QA Service</a> that provides expert guidance for 12-16 weeks to set up effective testing practices, and On-Demand testing services to fast-track <a href="https://qxf2.com/qait">UI</a>, <a href="https://qxf2.com/api-tests-autogenerate">API</a>, and <a href="https://qxf2.com/aiml-testing-offering">AI/ML</a> testing efforts.
            </p>
                        

        </div>
    </div>
    {% endblock %}