{% extends "ws_base.html" %} {% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <h1>About weather shopper app</h1>
            <p class="text-justify top-space-40">
                This web application is created and maintanied by <a href="https://qxf2.com/">Qxf2 Services</a> to help testers learn Selenium and practice a programming language simultaneously. It provides various features that users can explore to enhance their automation and coding skills.
            </p>
            <p class="text-justify top-space-20">
                We have worked with, interviewed, and hired many QA engineers, and we've observed that software testers often learn automation in unconventional ways. For instance, we noticed that many QA engineers are comfortable writing simple Selenium scripts but not as confident with programming—perhaps because Selenium's visual nature made it easier to grasp. Most people do not want to go back and take a programming course. Instead, they gradually improve their coding skills as they encounter new challenges and use the language more frequently. With this in mind, we designed a Selenium-based exercise that naturally encourages testers to write better code. We hope this helps!
            </p>           
        </div>
        <div class="row justify top-space-40">
            <h2>About Qxf2 Services</h2>
            <p class="text-justify top-space-20">At Qxf2, we specialize in providing <strong>QA for startups</strong>, ensuring the <strong>best testing practices</strong> to help your business thrive. Our offerings include:</p>
                <ul>
                    <li><strong><a href="https://qxf2.com/essential-service-offering">Essential QA Service</a></strong>: Lightweight testing without the need for a full-time QA resource.</li>
                    <li><strong><a href="https://qxf2.com/foundational-service-offering">Foundational QA Service</a></strong>: Expert guidance over 12-16 weeks to establish effective testing practices.</li>
                    <li><strong>On-Demand Testing Services</strong>: Specialized <a href="https://qxf2.com/qait">UI</a>, <a href="https://qxf2.com/api-tests-autogenerate">API</a>, and <a href="https://qxf2.com/aiml-testing-offering">AI/ML</a> testing offerings.</li>
                </ul>
            <p class="text-justify">
                For inquiries, feel free to reach out via our <a href="https://qxf2.com/contact">contact page</a> or email us at <a href="mailto:mak@qxf2.com">mak@qxf2.com</a>.
            </p>
                
        </div>
    </div>
    {% endblock %}